* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #ddd;
  }
  
  /* Header or Navbar */
  header {
    width: 100%;
    background-color: #0f1111;
  }
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
  }
  .nav-logo img {
    margin-top: 10px;
    width: 128px;
    background-color: #ccc;
  }
  navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
    
.container {
  width: 80%;
  height: 250px;
  background-color:blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  margin: 50px auto;
}


.content {
  width: 100px;
  height: 100px;
  background-color:white;
  border-radius: 50%;
  display: flex;
  justify-content: right;
  align-items: right;
  color: white;
  font-size: 16px;
  position: absolute;
}












